input[type='submit'],
button,
.dnp1-button
{
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 0.87em Arial, Helvetica, sans-serif;
    padding: 0.19em .5em;
    text-shadow: 0 0.06em 0.06em rgba(0, 0, 0, 0.3);
    background-color: #555;
    box-shadow: 0 0.06em 0.12em rgba(0, 0, 0, 0.2);
    color: #fff;
    font-weight: bolder;
    appearance: none;
    border: none;
    border-radius: 0.25em;
}

.dnp1-button:hover {
    text-decoration: none;
}

.dnp1-button:active {
    position: relative;
    top: 0.06em;
}

.dnp1-button:hover {
    cursor: pointer;
}