.dnp1-metadata-share {
    width:36px;
    border-radius: 50%;
    margin-bottom: 15px;
    background-color: rgba(172,172,172,0.5);
    cursor: pointer;
}

.dnp1-metadata-share:hover {
    background-color: rgba(190,170,155,0.7);
}

