.dnp1-content-metadata {
    border-radius: 8px 0px 0px 2px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 60px;
    text-align: center;
    padding-top: 21px;
    background: #26160A none repeat scroll 0% 0%;
    border:solid 1px #26160A;
    opacity: .92;
}