.dnp1-comments:first-child {
    z-index: 3;
}

.dnp1-comment:nth-child(2) {
    border-top: none;
    z-index: -12;
    overflow: hidden;
}

.dnp1-comments {
    color: #444;
    margin-top: -5px;
    max-width: 1140px;
    min-width: 300px;
    /*text-align: right;*/
    padding: 0px 0px 60px 0px;

}

.dnp1-comments-header {
    box-sizing: border-box;
    height: 40px;
    line-height: 20px;
    padding: 10px 6px 10px 64px;
    /*background-color: #D5E5CA;*/
    margin: 0;
    color: white;
    text-align: left;

    opacity: .92;
    background: #26160A none repeat scroll 0% 0%;
    border: 1px solid #26160A;
}

.dnp1-comment {
    box-sizing: border-box;
    margin: 0 1px;
    font-size: 13px;
    min-height: 70px;
    padding: 10px 4px;
    border-bottom: solid 1px #ccc;
    background-color: #f5f5f5;
}

.dnp1-comment-author {
    font-size: 1em;
    font-weight: bolder;
    margin: 3px 2px;
    float: left;
    text-align: center;
    min-height: 66px;
    border: solid 1px #d3d3d3;
    border-radius: 2px;
}

.dnp1-comment-avatar {
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 2px;
    margin: 1px 1px 1px 1px;
}

.dnp1-comment:last-child {
    border-radius: 0 0 4px 4px;
}

.dnp1-no-comment {
    margin: -1px 2px;
    padding: 16px 10px;
    background-color: #f5f5f5;
    border-radius: 0 0 4px 4px

}



.dnp1-comment-author-info {
    float:left;
    clear: right;
    vertical-align: top;
    box-sizing: border-box;
    padding: 2px;
    overflow: hidden;
}

.dnp1-comment:last-child {
    border-radius: 0 0 2px 2px;
}

.dnp1-comment-content {
    margin-top: 6px;
    margin-left: 70px;
    padding-left: 8px;
    min-height: 68px;
}
