.dnp1-login-content {
    padding: 8px 10px 10px;
    border: dashed 1px #AAA;
    margin: 60px auto -1px;
    text-align:center;
    min-height: 480px;
}

#login-form {
    margin: 0 auto;
    max-width:220px;
}
