.dnp1-retractile-menu-link:link,
.dnp1-retractile-menu-link:visited,
.dnp1-retractile-menu-link {
    display:none;
}

#dnp1-retractile-menu-btn {
    display: none;
}

@media (max-width : 700px) {
    #dnp1-retractile-menu-btn {
        display: block;
    }
    .dnp1-menu-link.dnp1-login-link:link,
    .dnp1-menu-link.dnp1-login-link:visited,
    .dnp1-menu-link.dnp1-login-link {
        display: none !important;
    }
    .dnp1-retractile-menu-link.dnp1-login-link:link,
    .dnp1-retractile-menu-link.dnp1-login-link:visited,
    .dnp1-retractile-menu-link.dnp1-login-link {
        display: block;
    }
    .dnp1-menu-link.dnp1-logout-link:link,
    .dnp1-menu-link.dnp1-logout-link:visited,
    .dnp1-menu-link.dnp1-logout-link {
        display: none !important;
    }
    .dnp1-retractile-menu-link.dnp1-logout-link:link,
    .dnp1-retractile-menu-link.dnp1-logout-link:visited,
    .dnp1-retractile-menu-link.dnp1-logout-link {
        display: block;
    }
}

@media (max-width : 540px) {
    .dnp1-menu-link.dnp1-about-link:link,
    .dnp1-menu-link.dnp1-about-link:visited,
    .dnp1-menu-link.dnp1-about-link {
        display: none !important;
    }
    .dnp1-retractile-menu-link.dnp1-about-link:link,
    .dnp1-retractile-menu-link.dnp1-about-link:visited,
    .dnp1-retractile-menu-link.dnp1-about-link {
        display: block;
    }
}

/*@media only screen*/
/*and (max-width : 500px) {*/
    /*.dnp1-menu-link.dnp1-tags-link:link,*/
    /*.dnp1-menu-link.dnp1-tags-link:visited,*/
    /*.dnp1-menu-link.dnp1-tags-link {*/
        /*display: none !important;*/
    /*}*/
    /*.dnp1-retractile-menu-link.dnp1-tags-link:link,*/
    /*.dnp1-retractile-menu-link.dnp1-tags-link:visited,*/
    /*.dnp1-retractile-menu-link.dnp1-tags-link {*/
        /*display: block;*/
    /*}*/
/*}*/

@media only screen
and (max-width : 440px) {
    #dnp1-menu {
        display: none;
    }
    .dnp1-retractile-menu-link {
        display: block !important;
    }
}
